input.form-control::placeholder {
    color: #CCC;
}

.drivers-form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.driver-form-container {
    flex: 1;
    min-width: 120px;
}

.car-icon-container i {
    font-size: 2em;
}

