.classification-column {
    width: 100px;
}

.pontuation-column {
    width: 75px;
}

.classification-position {
    font-weight: bold;
    font-size: 1.6em;
}

.classification-pontuation {
    font-weight: bold;
    font-size: 1.6em; 
}