:root {
    --gold-color: #FFD700;
    --silver-color: #C0C0C0;
    --bronze-color: #cd7f32;
}

.gold-color {
    color: var(--gold-color);
}

.silver-color {
    color: var(--silver-color);
}

.bronze-color {
    color: var(--bronze-color);
}

.my-table th {
    font-size: 1.4em;
    padding: 15px;
}

.my-table .classification-header {
    width: min-content;
}

.my-table .description-header {
    width: 100%;
    padding-left: 4px
}

.my-table td {
    font-size: 1.2em;
    font-weight: bold;
}