:root {
    --gold-color: #FFD700;
    --silver-color: #C0C0C0;
    --bronze-color: #cd7f32;
}

.gold-color {
    color: var(--gold-color);
}

.silver-color {
    color: var(--silver-color);
}

.bronze-color {
    color: var(--bronze-color);
}

.classification-column {
    width: 100px;
}

.pontuation-column {
    width: 85px;
}

.situation-column {
    width: 85px;
}

.classification-position {
    font-weight: bold;
    font-size: 1.4em;
}

.classification-pontuation {
    font-weight: bold;
    font-size: 1.4em; 
}