.situation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1em;
}

.situation-container span {
    font-size: 1.2em; 
}

.classification-description {
    display: flex;
    align-items: center;
}

.classification-description i {
    font-size: 2em;
}

.classification-description span {
    font-size: 1.2em;
}